<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gossip Project</title>
</head>
<body>

  <header class='fixed-top'>
    <nav class="navbar navbar-expand navbar-dark bg-dark px-3 ">
        <a class="navbar-brand" href=<%=root_path%>>G<span class='red'>o</span>ssip Pr<span class='red'>o</span>ject</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=<%=root_path%>>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=team_path%>>Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=<%=contact_path%>>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

  <div class="px-3 mt-5 pt-3 pb-4 text-center">
    <i class="fas fa-highlighter fa-5x"></i>
    <h1 class="display-5 fw-bold">G<span class='red'>o</span>ssip Pr<span class='red'>o</span>ject</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Le meilleur site de potins que tu puisses trouver sur la toile<br>
      Tu trouveras sur cette première page tous les potins que nous détennons...</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href=<%=team_path%>><button type="button"class="btn btn-danger btn-lg px-4 me-sm-3">La Team</button></a>
        <a href=<%=contact_path%>><button type="button" class="btn btn-outline-secondary btn-lg px-4">Nous contacter</button></a>
      </div>
    </div>
  </div>

  <div class='bg-secondary px-5 py-3 row no-gutter d-flex justify-content-evenly'>
    <%@gossips.each do |gossip|%>
    <div class=" card m-3" style="width: 18rem;">
      <i class=" far fa-newspaper fa-3x text-center mt-2"></i>
      <div class="card-body">
        <h5 class=" card-title"><%=gossip.title%></h5>
        <h6 class=' text-secondary'><span class='red'>Auteur </span><%=gossip.user.first_name%> <%=gossip.user.last_name%></h6>
        <hr class='border border-1 border-danger'>
      </div>
      
      <div class=''>
        <a href=<%= gossip_path(gossip.id)%> class="position-absolute bottom-0 end-50 my-2 btn btn-warning">Voir le potin</a>
      </div>
      
    </div>
    <%end%>
  </div>

  <footer class="footer py-3 bg-light">
    <div class="container">
      <span class="text-muted"> © The Gossip Project & THP - By The Power Coders</span>
    </div>
  </footer>

</body>
</html>